/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false;
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : "Inter", -apple-system, "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$monospace                  : "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.441em;
$type-size-2                : 1.953em;
$type-size-3                : 1.563em;
$type-size-4                : 1.25em;
$type-size-5                : 1em;
$type-size-6                : 0.75em;
$type-size-7                : 0.6875em;
$type-size-8                : 0.625em;


/*
   Colors
   ========================================================================== */

$gray                       : #6b7280;
$dark-gray                  : #1f2937;
$darker-gray                : #111827;
$light-gray                 : #d1d5db;
$lighter-gray               : #f3f4f6;

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #f8fafc;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : #e5e7eb;

$primary-color              : #0f172a;
$success-color              : #10b981;
$warning-color              : #f59e0b;
$danger-color               : #ef4444;
$info-color                 : #3b82f6;
$accent-color               : #6366f1;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #0a66c2;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #1da1f2;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : #4f46e5;
$link-color-hover           : #3730a3;
$link-color-visited         : #6366f1;
$masthead-link-color        : $dark-gray;
$masthead-link-color-hover  : $primary-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
);


/*
   Other
   ========================================================================== */

$border-radius              : 8px;
$box-shadow                 : 0 1px 3px rgba(0, 0, 0, 0.08);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
